# Ignore everything in data and data/api
src/data/*
src/data/api/*

src/llm/api/routes.py
src/llm/main.py

# Re-allow directories so Git can traverse them
!src/data/api/
!src/data/conversations/
!src/data/example/
!src/data/example_main.py

# Re-allow wanted files
!src/data/api/main.py
!src/data/api/example_routes.py
!src/data/api/conversation_routes.py

# Re-allow all files in these folders
!src/data/conversations/**
!src/data/example/**

# LLM templates rule 
src/llm/templates/*
!src/llm/templates/example.txt
!src/llm/templates/generate_docstring.txt

.vscode
.env
.venv
__pycache__
uv.lock
dbdata
local_llm_assistant.egg-info